<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ConstructIT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ConstructIT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Početna stranica", "Index", "Home")</li>
                    <li>@Html.ActionLink("Projekti", "Index", "Projekat")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Resursi <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Proizvodni radnici", "Index", "ProizvodniRadnik")</li>
                            <li>@Html.ActionLink("Mašine", "Index", "Masina")</li>
                            <li>@Html.ActionLink("Materijali", "Index", "Materijal")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Struke", "Index", "Struka")</li>
                            <li>@Html.ActionLink("Tipovi Mašina", "Index", "TipMasine")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Potrebe za resursima <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Proizvodni radnici", "Index", "ProizvodniRadnik")</li>
                            <li>@Html.ActionLink("Mašine", "Index", "Masina")</li>
                            <li>@Html.ActionLink("Materijali", "Index", "Materijal")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Struke", "Index", "Struka")</li>
                            <li>@Html.ActionLink("Tipovi Mašina", "Index", "TipMasine")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Raspodela resursa<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Evidencija radnog vremena", "Index", "EvidencijaRadnogVremena")</li>
                            <li>@Html.ActionLink("Evidencija angažovanja mašine", "Index", "EvidencijaAngazovanjaMasine")</li>
                            <li>@Html.ActionLink("Dodela materijala", "Index", "DodelaMaterijala")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Izveštaji <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Proizvodni radnici", "Index", "ProizvodniRadnik")</li>
                            <li>@Html.ActionLink("Mašine", "Index", "Masina")</li>
                            <li>@Html.ActionLink("Materijali", "Index", "Materijal")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Struke", "Index", "Struka")</li>
                            <li>@Html.ActionLink("Tipovi Mašina", "Index", "TipMasine")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ConstructIT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
