@model ConstructIT.DAL.Models.Galerija
@using ConstructIT.DAL.Models
@{
    ViewBag.Title = "Details";
    Korisnik korisnik = (Korisnik)Session["korisnik"];
}

<h2>Galerija</h2>

<div>
    <h3 style="padding-left:3%">Projekat '@Model.Projekat.ProjekatNaziv' za datum @Model.GalerijaDatum.ToString("dd.MM.yyyy.")</h3>

    @if (korisnik.KorisnikTip != "Klijent")
    {
        using (Html.BeginForm("Upload", "Galerija", new { projekatID = Model.ProjekatID, datum = Model.GalerijaDatum }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline", @style = "position:relative; float:right; top: -40px" }))
        {
            <div class="form-group">
                <label class="btn btn-success">
                    Odaberi sliku
                    <input type="file" name="FileUpload" style="display:none" onchange="this.form.submit();" />
                </label>
            </div>
        }
    }

    <hr />

    <div style="clear:both"></div>

    <div>
        @foreach (var item in Model.Slike)
        {
            <div class="imgGallery">
                <table style="width:100%; height:100%; align-content:center; vertical-align:central">

                    <tr>

                        <td>
                            <a href="@Url.Action("Details", "Slika", new { naziv = item.SlikaNaziv })">
                                <img src="~/Content/Images/@item.SlikaNaziv" alt="slika">
                            </a>
                        </td>
                    </tr>
                </table>
                
            </div>
        }

    </div>
</div>

<div style="clear:both"></div>

<hr />

<h3>Komentari</h3>
<p>
    <a href="#" data-toggle="modal" data-target="#commentModal">Dodaj novi</a>
</p>

<hr />

@foreach (var item in Model.KomentariNaGaleriju)
{
    <div class="panel panel-success" style="margin-left:15%; margin-right:15%">
        <div class="panel-heading">
            <h3 class="panel-title">"@item.KomentarGalerijaNaslov" <span style="position:relative; float:right">@item.Korisnik.KorisnikIme @item.Korisnik.KorisnikPrezime - @item.KomentarGalerijaVremePostavljanja</span></h3>
        </div>
        <div class="panel-body">
            "@item.KomentarGalerijaSadrzaj"
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Zatvori</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Komentar na galeriju
                </h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">

                <form role="form" action="~/Galerija/AddComment">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Naslov komentara</label>
                        <input type="text" class="form-control" name="komentarNaslov"
                               id="exampleInputEmail1" placeholder="Unesite naslov..." required oninvalid="this.setCustomValidity('Naslov mora biti unet!')" oninput="setCustomValidity('')" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Komentar</label>
                        <textarea class="form-control" name="komentarSadrzaj"
                                  id="exampleInputPassword1" rows="3" maxlength="1024" required minlength="1" oninvalid="this.setCustomValidity('Komentar mora biti unet!')" oninput="setCustomValidity('')"></textarea>
                    </div>

                    @Html.HiddenFor(m => m.ProjekatID)
                    @Html.HiddenFor(m => m.GalerijaDatum)

                    <button type="submit" class="btn btn-default">Sačuvaj</button>
                </form>


            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Zatvori
                </button>
            </div>
        </div>
    </div>
</div>

