@model ConstructIT.DAL.Models.DodelaMaterijala
@using ConstructIT.DAL.Models

@{
    ViewBag.Title = "Brisanje dodele materijala";

    var _projekat = new Projekat();
    var _zadatak = new Zadatak();
    var _materijal = new Materijal();


}

<h2>Brisanje</h2>

<h3 style="padding-left: 3%">Da li ste sigurni da želite da obrišete?</h3>
<div>
    <h4>Dodela Materijala</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => _materijal.MaterijalNaziv)
        </dt>

        <dd>
            @ViewData["materijalNaziv"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => _projekat.ProjekatNaziv)
        </dt>

        <dd>
            @ViewData["projekatNaziv"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => _zadatak.ZadatakNaziv)
        </dt>

        <dd>
            @ViewData["zadatakNaziv"]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DodMatDatumDodele)
        </dt>

        <dd>
            @Model.DodMatDatumDodele.ToString("dd.MM.yyyy.")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DodMatKolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DodMatKolicina)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Odustani", "Index")
        </div>
    }
</div>
