@model ConstructIT.DAL.Models.DodelaMaterijala
@using ConstructIT.DAL.Models

@{
    ViewBag.Title = "Izmena dodele materijala";

    var _projekat = new Projekat();
    var _zadatak = new Zadatak();
    var _materijal = new Materijal();
    var _potrebaMaterijala = new PotrebaMaterijala();
}

<h2>Izmena</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="padding-left: 3%">Dodela Materijala</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DodelaMaterijalaID)

        <div class="form-group">
            @Html.LabelFor(model => _materijal.MaterijalNaziv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@ViewData["materijalNaziv"]" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => _projekat.ProjekatNaziv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@ViewData["projekatNaziv"]" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => _zadatak.ZadatakNaziv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@ViewData["zadatakNaziv"]" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DodMatDatumDodele, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@DateTime.Today.ToString("dd.MM.yyyy.")" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2">Potrebna količina (nakon dodele)</label>
            <div class="col-md-10">
                <input type="text" value="@ViewData["potrebnaKolicina"]" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => _materijal.MaterijalRaspolozivaKolicina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" value="@ViewData["postojecaKolicinaMaterijala"]" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DodMatKolicina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DodMatKolicina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DodMatKolicina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodeli" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Odustani", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
