@model ConstructIT.DAL.Models.KomentarZadatak

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KomentarZadatak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.KorisnikLozinka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.KorisnikLozinka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zadatak.ZadatakNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zadatak.ZadatakNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomentarZadatakNaslov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomentarZadatakNaslov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomentarZadatakSadrzaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomentarZadatakSadrzaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomentarZadatakVremePostavljanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomentarZadatakVremePostavljanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomentarZadatakVremeIzmene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomentarZadatakVremeIzmene)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
