@model ConstructIT.DAL.Models.KomentarZadatak

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KomentarZadatak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Korisnik.KorisnikLozinka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnik.KorisnikLozinka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zadatak.ZadatakNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zadatak.ZadatakNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomentarZadatakNaslov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomentarZadatakNaslov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomentarZadatakSadrzaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomentarZadatakSadrzaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomentarZadatakVremePostavljanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomentarZadatakVremePostavljanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KomentarZadatakVremeIzmene)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KomentarZadatakVremeIzmene)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
