@model IEnumerable<ConstructIT.DAL.Models.KomentarZadatak>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Korisnik.KorisnikLozinka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zadatak.ZadatakNaziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KomentarZadatakNaslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KomentarZadatakSadrzaj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KomentarZadatakVremePostavljanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KomentarZadatakVremeIzmene)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Korisnik.KorisnikLozinka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zadatak.ZadatakNaziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KomentarZadatakNaslov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KomentarZadatakSadrzaj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KomentarZadatakVremePostavljanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KomentarZadatakVremeIzmene)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
