@model ConstructIT.DAL.Models.EvidencijaAngazovanjaMasine

@{
    ViewBag.Title = "Brisanje stavke evidencije angazovanja masine";
}

<h2>Brisanje</h2>

<h3 style="padding-left: 3%">Da li ste sigurni da želite da obrišete?</h3>
<div>
    <h4>Stavka evidencije angažovanja mašine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tip mašine: @Html.DisplayNameFor(model => model.Masina.MasinaProizvodjac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Masina.TipMasine.TipMasineNaziv): @Html.DisplayFor(model => model.Masina.MasinaProizvodjac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zadatak.Projekat.ProjekatNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zadatak.Projekat.ProjekatNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zadatak.ZadatakNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zadatak.ZadatakNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvidAngMasDatum)
        </dt>

        <dd>
            @Model.EvidAngMasDatum.ToString("dd.MM.yyyy.")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvidAngMasVremeOd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvidAngMasVremeOd):00
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvidAngMasVremeDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvidAngMasVremeDo):00
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Odustani", "Index")
        </div>
    }
</div>
