@model IEnumerable<ConstructIT.DAL.Models.EvidencijaAngazovanjaMasine>

@{
    ViewBag.Title = "Evidencija angažovanja mašine";
}

<h2>Evidencija angažovanja mašine</h2>

<hr />

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Masina.TipMasine.TipMasineNaziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Masina.MasinaProizvodjac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zadatak.Projekat.ProjekatNaziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zadatak.ZadatakNaziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvidAngMasDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvidAngMasVremeOd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvidAngMasVremeDo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Masina.TipMasine.TipMasineNaziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Masina.MasinaProizvodjac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zadatak.Projekat.ProjekatNaziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zadatak.ZadatakNaziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvidAngMasDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvidAngMasVremeOd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EvidAngMasVremeDo)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.EvidencijaAngazovanjaMasineID }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.EvidencijaAngazovanjaMasineID })
        </td>
    </tr>
}

</table>
