@model ConstructIT.DAL.Models.PotrebaTipaMasine

@{
    ViewBag.Title = "Brisanje potrebe tipa mašine";
}

<h2>Brisanje</h2>

<h3 style="padding-left: 3%">Da li ste sigurni da želite da obrišete?</h3>
<div>
    <h4>Potreba tipa mašine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipMasine.TipMasineNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipMasine.TipMasineNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zadatak.ZadatakNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zadatak.ZadatakNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotrTipaMasOdDatuma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotrTipaMasOdDatuma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotrTipaMasDoDatuma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotrTipaMasDoDatuma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotrTipaMasKolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotrTipaMasKolicina)
        </dd>

    </dl>

    @using (Html.BeginForm(new { id = Model.PotrebaTipaMasineID })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Odustani", "Details", "Zadatak", new { id = Model.ZadatakID }, null)
        </div>
    }
</div>
