@model ConstructIT.DAL.Models.Materijal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Materijal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterijalNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterijalNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterijalProizvodjac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterijalProizvodjac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterijalOpis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterijalOpis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterijalRaspolozivaKolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterijalRaspolozivaKolicina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaterijalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
