@model ConstructIT.DAL.Models.Zadatak

@{
    ViewBag.Title = "Brisanje zadatka";
}

<h2>Brisanje</h2>

<h3 style="padding-left: 3%">Da li ste sigurni da želite da obrišete?</h3>
<div>

    <hr />
    <h4>Zadatak</h4>
    <br />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Projekat.ProjekatNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projekat.ProjekatNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZadatakNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZadatakNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZadatakDatumPocetka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZadatakDatumPocetka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZadatakDatumZavrsetka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZadatakDatumZavrsetka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioritet.PrioritetNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioritet.PrioritetNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusNaziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusNaziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZadatakOpis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZadatakOpis)
        </dd>

        <dt>
            Dodeljen korisniku
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KorisnikKomJeDodeljen.KorisnikEMail)
        </dd>
    </dl>

    @using (Html.BeginForm(new { id = Model.ZadatakID })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Odustani", "Details", "Zadatak", new { id = Model.ZadatakID }, null)
        </div>
    }
</div>
