@model ConstructIT.DAL.Models.Zadatak
@using ConstructIT.DAL.Models

@{
    ViewBag.Title = "Zadatak " + @Html.DisplayFor(model => model.ZadatakNaziv);

    var _komentarZadatak = new KomentarZadatak();
    var _potrebaMaterijala = new PotrebaMaterijala();
    var _potrebaStruke = new PotrebaStruke();
    var _potrebaTipaMasine = new PotrebaTipaMasine();
}

<h2>Zadatak - @Html.DisplayFor(model => model.ZadatakNaziv)</h2> 

<div>
    <h4 style="padding-left:3%">Projekat - @Html.DisplayFor(model => model.Projekat.ProjekatNaziv)</h4>
    @Html.ActionLink("Izmeni", "Edit", new { /* id = Model.PrimaryKey */ }, new { @style = "position:relative; float:right; top: -10px; right:5%;" })
    <hr />
    <div style="position:relative; float:left; left:5%">

        <blockquote>

            @Html.DisplayNameFor(model => model.ZadatakDatumPocetka):

            @Html.DisplayFor(model => model.ZadatakDatumPocetka)

        </blockquote>
        <blockquote>
            @Html.DisplayNameFor(model => model.ZadatakDatumZavrsetka):

            @Html.DisplayFor(model => model.ZadatakDatumZavrsetka)
        </blockquote>

</div>

    <div style="position:relative; float:right; right:20%">

            <blockquote>

                @Html.DisplayNameFor(model => model.Prioritet.PrioritetNaziv):

                @Html.DisplayFor(model => model.Prioritet.PrioritetNaziv)

            </blockquote>
            <blockquote>
                @Html.DisplayNameFor(model => model.Status.StatusNaziv):

                @Html.DisplayFor(model => model.Status.StatusNaziv)
            </blockquote>

    </div>
    <div style="clear:both"></div>
    <div style="margin-left:10%; margin-right:10%;">

        <h4>@Html.DisplayNameFor(model => model.ZadatakOpis)</h4>

        <p>@Html.DisplayFor(model => model.ZadatakOpis)</p>

    </div>
</div>
<br />
<hr />
<br />
<ul class="nav nav-tabs">
    <li class="active"><a href="#oZadatku" data-toggle="tab" aria-expanded="true">O zadatku</a></li>
    <li class=""><a href="#potrebeZadatka" data-toggle="tab" aria-expanded="false">Potrebe zadatka</a></li>
</ul>


    @Html.AntiForgeryToken()
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="oZadatku">
        <p>Hasan Sakic</p>
    </div>

    <div class="tab-pane fade" id="potrebeZadatka">

        <h2>Potrebe zadatka</h2>
        <br />
        <h3 style="padding-left:3%">Potrebe struka</h3>
        <p style="padding-left:3%">
            @Html.ActionLink("Dodaj novu", "Create", "PotrebaStruke", new { projekatID = Model.ProjekatID, zadatakID = Model.ZadatakID }, null)
        </p>
        <table class="table table-striped table-hover" style="margin-left:3%; margin-right:3%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => _potrebaStruke.Struka.StrukaNaziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaStruke.PotrebaStrukeOdDatuma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaStruke.PotrebaStrukeDoDatuma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaStruke.PotrebaStrukeKolicina)
                </th>
                <th style="position:relative; left:25px">
                    Akcija
                </th>
            </tr>

            @foreach (var item in Model.PotrebeStruka)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Struka.StrukaNaziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrebaStrukeOdDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrebaStrukeDoDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrebaStrukeKolicina)
                    </td>
                    <td>
                        @Html.ActionLink("Izmeni", "Edit", "PotrebaStruke", new { potrebaStrukeID = item.PotrebaStrukeID }, null) | @Html.ActionLink("Obriši", "Delete", "PotrebaStruke", new { potrebaStrukeID = item.PotrebaStrukeID }, null)
                    </td>
                </tr>
            }

        </table>


        <br />
        <h3 style="padding-left:3%">Potrebe materijala</h3>
        <p style="padding-left:3%">
            @Html.ActionLink("Dodaj novu", "Create", "PotrebaMaterijala", new { projekatID = Model.ProjekatID, zadatakID = Model.ZadatakID }, null)
        </p>
        <table class="table table-striped table-hover" style="margin-left:3%; margin-right:3%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => _potrebaMaterijala.Materijal.MaterijalNaziv)
                </th>
                    
                <th>
                    @Html.DisplayNameFor(model => _potrebaMaterijala.PotrMatOdDatuma)
                </th>

                <th>
                    @Html.DisplayNameFor(model => _potrebaMaterijala.PotrMatDoDatuma)
                </th>

                <th>
                    @Html.DisplayNameFor(model => _potrebaMaterijala.PotrMatKolicina)
                </th>
                <th style="position:relative; left:25px">
                    Akcija
                </th>
            </tr>

            @foreach (var item in Model.PotrebeMaterijala)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Materijal.MaterijalNaziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrMatOdDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrMatDoDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrMatKolicina)
                    </td>
                    <td>
                        @Html.ActionLink("Izmeni", "Edit", "PotrebaMaterijala", new { potrebaMaterijalaID = item.PotrebaMaterijalaID }, null) | @Html.ActionLink("Obriši", "Delete", "PotrebaMaterijala", new { potrebaMaterijalaID = item.PotrebaMaterijalaID }, null)
                    </td>
                </tr>
            }
        </table>

        <br />
        <h3 style="padding-left:3%">Potrebe tipa mašina</h3>
        <p style="padding-left:3%">
            @Html.ActionLink("Dodaj novu", "Create", "PotrebaTipaMasine", new { projekatID = Model.ProjekatID, zadatakID = Model.ZadatakID }, null)
        </p>
        <table class="table table-striped table-hover" style="margin-left:3%; margin-right:3%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => _potrebaTipaMasine.TipMasine.TipMasineNaziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaTipaMasine.PotrTipaMasOdDatuma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaTipaMasine.PotrTipaMasDoDatuma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaTipaMasine.PotrTipaMasKolicina)
                </th>
                <th style="position:relative; left:25px">
                    Akcija
                </th>
            </tr>

            @foreach (var item in Model.PotrebeTipovaMasina)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipMasine.TipMasineNaziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrTipaMasOdDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrTipaMasDoDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrTipaMasKolicina)
                    </td>
                    <td>

                        @Html.ActionLink("Izmeni", "Edit", "PotrebaTipaMasine", new { potrebaTipaMasineID = item.PotrebaTipaMasineID }, null) | @Html.ActionLink("Obriši", "Delete", "PotrebaTipaMasine", new { potrebaTipaMasineID = item.PotrebaTipaMasineID }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
