@model ConstructIT.DAL.Models.Zadatak
@using ConstructIT.DAL.Models
@using System.Collections.Generic
@using System

@{
    ViewBag.Title = "Zadatak " + @Html.DisplayFor(model => model.ZadatakNaziv);

    var _komentarZadatak = new KomentarZadatak();
    var _potrebaMaterijala = new PotrebaMaterijala();
    var _potrebaStruke = new PotrebaStruke();
    var _potrebaTipaMasine = new PotrebaTipaMasine();
    var _promenaZadatka = new PromenaZadatka();
}

<h2>Zadatak - @Html.DisplayFor(model => model.ZadatakNaziv)</h2> 

<div>
    <h4 style="padding-left:3%">Projekat - @Html.DisplayFor(model => model.Projekat.ProjekatNaziv)</h4>
    @Html.ActionLink("Izmeni", "Edit", new {  id = Model.ZadatakID  }, new { @style = "position:relative; float:right; top: -10px; right:150px;" })  @Html.ActionLink("Obriši", "Delete", "Zadatak", new { id = Model.ZadatakID }, new { @style = "position:relative; float:right; top: -10px; right:55px;" })
    <hr />
    <div style="position:relative; float:left; left:5%">

        <blockquote>

            @Html.DisplayNameFor(model => model.ZadatakDatumPocetka):

            @Model.ZadatakDatumPocetka.ToString("dd.MM.yyyy.")

        </blockquote>
        <blockquote>
            @Html.DisplayNameFor(model => model.ZadatakDatumZavrsetka):

            @Model.ZadatakDatumZavrsetka.ToString("dd.MM.yyyy.")
        </blockquote>

    </div>

    <div style="position:relative; float:right; right:20%">

            <blockquote>

                @Html.DisplayNameFor(model => model.Prioritet.PrioritetNaziv):

                @Html.DisplayFor(model => model.Prioritet.PrioritetNaziv)

            </blockquote>
            <blockquote>
                @Html.DisplayNameFor(model => model.Status.StatusNaziv):

                @Html.DisplayFor(model => model.Status.StatusNaziv)
            </blockquote>

    </div>
    <div style="clear:both"></div>
    <div style="margin-left:10%; margin-right:10%;">

        <h4>@Html.DisplayNameFor(model => model.ZadatakOpis)</h4>

        <p style="margin-left:3%; margin-right:3%">@Html.DisplayFor(model => model.ZadatakOpis)</p>

    </div>
</div>
<br />
<hr />
<br />
<ul class="nav nav-tabs">
    <li class="active"><a href="#oZadatku" data-toggle="tab" aria-expanded="true">O zadatku</a></li>
    <li class=""><a href="#potrebeZadatka" data-toggle="tab" aria-expanded="false">Potrebe zadatka</a></li>
</ul>


    @Html.AntiForgeryToken()
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="oZadatku">
        <h2>O zadatku</h2>

        <br />

        <h3 style="padding-left:3%">Komentari</h3>

        <hr style="margin-left:3%; margin-right:3%" />

        @foreach (var item in Model.KomentariNaZadatak)
        {
            
        }

        <br />
        <h3 style="padding-left:3%">Hronologija promena</h3>

        <hr style="margin-left:3%; margin-right:3%"/>

        @foreach (var item in Model.PromeneZadatka)
        {
            <div style="padding-left:3%; padding-right:3%;">
                <div style="padding-left:1%; background-color:#F8F9F9">
                    <b>

                        Vreme izmene: @item.PZ_VremeIzmene
                        <br />
                        Izmenio korisnik: @item.KorisnikKojiJeIzmenio.KorisnikIme @item.KorisnikKojiJeIzmenio.KorisnikPrezime ( @item.KorisnikKojiJeIzmenio.KorisnikEMail )

                    </b>
                </div>
                <div style="padding-left:3%;">
                @{
                    if (item.PZ_ZadatakNazivNovi != null)
                    {

                        @:Naziv zadatka: '@item.PZ_ZadatakNazivStari' promenjeno u '@item.PZ_ZadatakNazivNovi'
                    <br />

                    }

                    if (item.PZ_ZadatakOpisNovi != null)
                    {

                        @:Opis zadatka: '@item.PZ_ZadatakOpisStari' promenjeno u '@item.PZ_ZadatakOpisNovi'
                        <br />
                    }

                    if (item.PZ_ZadatakDatumPocetkaNovi != null)
                    {

                        @:Početak zadatka: '@item.PZ_ZadatakDatumPocetkaStari' promenjeno u '@item.PZ_ZadatakDatumPocetkaNovi'
                        <br />
                    }

                    if (item.PZ_ZadatakDatumZavrsetkaNovi != null)
                    {

                        @:Završetak zadatka: '@item.PZ_ZadatakDatumZavrsetkaStari' promenjeno u '@item.PZ_ZadatakDatumZavrsetkaNovi'
                        <br />
                    }

                    if (item.PZ_StatusIDNovi != null)
                    {

                        @:Status zadatka: '@item.StatusStari.StatusNaziv' promenjeno u '@item.StatusNovi.StatusNaziv'
                        <br />
                    }

                    if (item.PZ_PrioritetIDNovi != null)
                    {

                        @:Prioritet zadatka: '@item.PrioritetStari.PrioritetNaziv' promenjeno u '@item.PrioritetNovi.PrioritetNaziv'
                        <br />
                    }
                }
                </div>
            </div>
        }


    </div>

    <div class="tab-pane fade" id="potrebeZadatka">

        <h2>Potrebe zadatka</h2>
        <br />
        <h3 style="padding-left:3%">Potrebe struka</h3>
        <p style="padding-left:3%">
            @Html.ActionLink("Dodaj novu", "Create", "PotrebaStruke", new { projekatID = Model.ProjekatID, zadatakID = Model.ZadatakID }, null)
        </p>
        <table class="table table-striped table-hover" style="margin-left:3%; margin-right:3%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => _potrebaStruke.Struka.StrukaNaziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaStruke.PotrebaStrukeOdDatuma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaStruke.PotrebaStrukeDoDatuma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaStruke.PotrebaStrukeKolicina)
                </th>
                <th style="position:relative; left:25px">
                    Akcija
                </th>
            </tr>

            @foreach (var item in Model.PotrebeStruka)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Struka.StrukaNaziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrebaStrukeOdDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrebaStrukeDoDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrebaStrukeKolicina)
                    </td>
                    <td>
                        @Html.ActionLink("Izmeni", "Edit", "PotrebaStruke", new { potrebaStrukeID = item.PotrebaStrukeID }, null) | @Html.ActionLink("Obriši", "Delete", "PotrebaStruke", new { potrebaStrukeID = item.PotrebaStrukeID }, null)
                    </td>
                </tr>
            }

        </table>


        <br />
        <h3 style="padding-left:3%">Potrebe materijala</h3>
        <p style="padding-left:3%">
            @Html.ActionLink("Dodaj novu", "Create", "PotrebaMaterijala", new { projekatID = Model.ProjekatID, zadatakID = Model.ZadatakID }, null)
        </p>
        <table class="table table-striped table-hover" style="margin-left:3%; margin-right:3%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => _potrebaMaterijala.Materijal.MaterijalNaziv)
                </th>
                    
                <th>
                    @Html.DisplayNameFor(model => _potrebaMaterijala.PotrMatOdDatuma)
                </th>

                <th>
                    @Html.DisplayNameFor(model => _potrebaMaterijala.PotrMatDoDatuma)
                </th>

                <th>
                    @Html.DisplayNameFor(model => _potrebaMaterijala.PotrMatKolicina)
                </th>
                <th style="position:relative; left:25px">
                    Akcija
                </th>
            </tr>

            @foreach (var item in Model.PotrebeMaterijala)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Materijal.MaterijalNaziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrMatOdDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrMatDoDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrMatKolicina)
                    </td>
                    <td>
                        @Html.ActionLink("Izmeni", "Edit", "PotrebaMaterijala", new { potrebaMaterijalaID = item.PotrebaMaterijalaID }, null) | @Html.ActionLink("Obriši", "Delete", "PotrebaMaterijala", new { potrebaMaterijalaID = item.PotrebaMaterijalaID }, null)
                    </td>
                </tr>
            }
        </table>

        <br />
        <h3 style="padding-left:3%">Potrebe tipova mašina</h3>
        <p style="padding-left:3%">
            @Html.ActionLink("Dodaj novu", "Create", "PotrebaTipaMasine", new { projekatID = Model.ProjekatID, zadatakID = Model.ZadatakID }, null)
        </p>
        <table class="table table-striped table-hover" style="margin-left:3%; margin-right:3%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => _potrebaTipaMasine.TipMasine.TipMasineNaziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaTipaMasine.PotrTipaMasOdDatuma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaTipaMasine.PotrTipaMasDoDatuma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => _potrebaTipaMasine.PotrTipaMasKolicina)
                </th>
                <th style="position:relative; left:25px">
                    Akcija
                </th>
            </tr>

            @foreach (var item in Model.PotrebeTipovaMasina)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipMasine.TipMasineNaziv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrTipaMasOdDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrTipaMasDoDatuma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PotrTipaMasKolicina)
                    </td>
                    <td>

                        @Html.ActionLink("Izmeni", "Edit", "PotrebaTipaMasine", new { potrebaTipaMasineID = item.PotrebaTipaMasineID }, null) | @Html.ActionLink("Obriši", "Delete", "PotrebaTipaMasine", new { potrebaTipaMasineID = item.PotrebaTipaMasineID }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
